{% extends "layout.html" %}
{%block body%}
<h5>*
    <p>Welcome to College Predictor, your trusted companion in navigating the exciting journey of higher education! At College Predictor, we understand the significance of choosing the right college based on your JEE rank, and we're here to simplify that process for you.</p>
    
   <p> <h4>Team</h4> 
    <b>Rishabh:</b>
    Lead Developer and Visionary
    With a passion for creating innovative solutions, Rishabh spearheaded the development of College Predictor. His expertise in software engineering and commitment to student success drive our platform's continuous improvement.
    </p>
    

   <p> 
    <b>Ram:</b>
    Algorithm Architect
    Ram's expertise lies in crafting the sophisticated algorithms that power our college predictions. His dedication to accuracy and precision ensures that you receive the most reliable insights based on your JEE rank.</p>
    </p>
   <p> Our Mission
    At College Predictor, our mission is to empower students in making informed decisions about their educational future. We believe that every student deserves personalized guidance in choosing the right college, and our platform is designed to provide just that.</p>
    
   <p> How College Predictor Works
    Simply input your JEE rank, and let our advanced algorithms analyze the data to predict the colleges that best align with your academic goals. Our predictions are based on a thorough analysis of past admission trends, college reputations, and program offerings.
    
   <p> Join Us on this Journey
    We are passionate about supporting students like you in their pursuit of higher education. Whether you're a parent seeking guidance or a student planning your academic path, College Predictor is here to assist you.</p>
    
   <b><p> Thank you for choosing College Predictor. Let's embark on this exciting journey together!</h5></b></p>
{%endblock body%}